@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

* + * {
  margin-top: 0;
}

.section-header {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.section-header--purple {
  color: #5d62b5;
}

.section-subheader {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.section-paragraph {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.section-btn {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  box-shadow:
    0 16px 24px rgba(38, 38, 38, 0.2),
    0 8px 16px rgba(38, 38, 38, 0.24);
  background: #f2726f;
  color: white;
  border-radius: 8px;
  padding: 13px 26px;
}
