.section-contact {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 60px;
  background-image:
    url('../../img/about_background.svg'),
    url('../../img/stylize_circles.svg'),
    url('../../img/contact_background.png');
  background-size: cover, auto, cover;
  background-repeat: no-repeat;
  background-position: top left, center center, center center;
  text-align: center;
  color: #ffffff;
  font-family: Roboto, sans-serif;
}

.section-contact__info-block {
  margin-bottom: 45px;
}

.info-block__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 47px;
}

.info-block__numbers {
  font-weight: 900;
  font-size: 96px;
  line-height: 56px;
  margin-bottom: 45px;
}

.info-block__subtitle {
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
}

.section-contact__form-block {
  box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2),
    0px 8px 16px rgba(38, 38, 38, 0.24);
  background: #5d62b5;
  border-radius: 10px;
  padding: 20px;
}

.form-block__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
}

.form-block__input {
  background: #5d62b5;
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
  padding: 17px 24px;
}

.form-block__input::placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.form-block__btn {
  box-shadow: none;
  border: none;
}
