.head-sect {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: 50% 50%;
  padding: 26px 26px 96px;
}

.no-webp .head-sect {
  background-image: url(../../img/duotone.png);
}

.webp .head-sect {
  background-image: url(../../img/duotone.webp);
}

.head-sect__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-sect__nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo__image {
  margin-right: 11px;
}

.nav-logo__text {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 26px;
  color: #fff;
}

.head-sect__nav-contacts,
.head-sect__nav-mainmenu {
  display: none;
}

.head-sect__nav-mobile-btn {
  display: flex;
  flex-direction: column;
}

.nav-mobile-btn__dash {
  width: 24px;
  height: 3px;
  background-color: #fff;
  margin: 3px 3px;
}

.head-sect__title {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
}

.head-sect__title-text {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 56px;
}
