.service-item {
  border-radius: 20px;
  margin-bottom: 24px;
  padding: 44px 50px;
  background: #fff;
  font-family: Roboto, sans-serif;
  transition: box-shadow 0.5s ease;
}

.service-item:hover {
  box-shadow:
    0 16px 24px rgba(38, 38, 38, 0.2),
    0 8px 16px rgba(38, 38, 38, 0.24);
}

.service-item__image {
  margin-bottom: 33px;
}

.service-item__title {
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #f2726f;
  margin-bottom: 20px;
}

.service-item__description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
  margin-bottom: 0;
}
