@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

* + * {
  margin-top: 0;
}

@import './header.css';
@import './about.css';
@import './promises.css';
@import './promise.css';
@import './appointment.css';
@import './services.css';
@import './service.css';
@import './contact.css';
@import './gallery.css';
@import './customers.css';
@import './impact.css';
@import './footer.css';
